/*
!/*.md
!/.gitignore
!/.gitattributes
!/.editorconfig
!/.github/
!/.github/workflows/
!/.github/workflows/*.yml
!/historico/
!/historico/**
historico/**/bin/
historico/**/obj/
!/scripts/
scripts/**/__pycache__/
scripts/**/*.pyc
!/xpz-*/
!/xpz-*/**
!/ptu-native/
!/ptu-native/**
ptu-native/**/bin/
ptu-native/**/obj/
